@media screen and (max-width: 1024px) {
    .profile-card{
        width: 96%;
        justify-items: start;
        margin-left: -61px;
    }
    .intro-section h3 {
        text-align: left;
        /* padding: 0px 0px 0px; */
         margin: 0px 0px 0px 0px; 
    }
    .intro-section {
        margin-left: -162px;
        display: grid;
        text-align-last: left;
        margin-top: 53px;
    }
    
    .wrap {
    
        height: 153%;
    }
    .texte {
        /* margin-left: 0px; */
        margin-right: -132px;
        text-align: justify;
    }
    .footer {
        padding-top: 1258px;
    }
    
    .navbar{
        width: 160%;
    }
    }
    
    
    
      @media screen and (max-width: 768px) {
    
    }